---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import PhotosSection from '../components/PhotosSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/PhotosSection.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Photos">
	<main class="space-y-40 mb-40">
		<PhotosSection/>
	</main>
</Layout>
