---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-left mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">About</h1>


                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Organizátor</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">BK STEEL Košice..</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Dátum</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">25. august 2024/ nedeľa /</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Miesto</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">Košice - sídlisko Nad Jazerom</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Prezentácia</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">Prezentácia: od 8:00. splav Jazero 0-tý km /Jenisejská ul./Košice </p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Štart</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">9:00 hod. 0-tý km splavu Hornádu.</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Dĺžka trate</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">42195 m a kratšie podľa chuti, kto si koľko trúfa, ale najlepšie maratón...</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Trať</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">2,5 km dlhý úsek po hrádzi Hornádu. Kvalitný asfalt, minimálne prevýšenie, bez automobilovej premávky.</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Štartovné</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">2 Eura platba na prezentácii</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Štartujú</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">Všetci ktorí majú chuť urobiť niečo pre svoje zdravie a pohodu</p>

                <p class="mt-8 text-black-700 dark:text-gray-600 text-left"><strong>Kategórie</strong></p>
                <p class="mt-2 mb-8 text-gray-700 dark:text-gray-300 text-left">Muži, Ženy</p>

            </div>

        </div>
    </Container>
</div>
